.login{
    background: url('login-bg.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
	border-radius: 20px;
    margin-top: 10px;
	border: 1px solid black;
	background-color: #412b0b;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
}


button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 800px;
	max-width: 100%;
	min-height: 500px;
}

.form-container {
	position: absolute;
	top: 0px;
	height: 100%;
	transition: transform  0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(0);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #1b1114;
	background: linear-gradient(to right,#4b170e, #412b0b);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}



.home{
	height: 100vh;
	background-color: coral;
}

.homenav{
	height: 100px;
	background-color: #412b0b4f;
	font-family: 'Times New Roman', Times, serif;

}
.homenav .logo{
    margin-left: 30px;
    margin-top: 1%;
    font-weight: 550;
    font-size: 4vw;
    color: #DDDDDD;
    justify-content: space-between;
	float: left;
	
}

.homenav .item-cont{
    justify-content: space-between;
    align-items: center;
	float: right;
	display: inline;
	margin: 1vw;
	margin-top: 1%;
}
  
.homenav .item-cont a{
    margin-right: 20px;
    text-align: center;
    align-items: center;
	font-size: 2.5vw;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: white;
	cursor: pointer;
	background-color: #72341b;
	text-decoration: none;
	padding: 0.4vw;
}


.home .homecontainer{
	columns: 2;
	display:inline-flex;
	align-items: center;
	
}
.home .homecontainer .heading{
	flex:1;
	font-size: 6vw;
	font-weight: 700;
	color: #412b0b;
	margin-left: 20%;

}
.home .homecontainer .image{
	display: flex;
	justify-content: center;
	align-items: center;
}
.home .homecontainer .image img{
	
	display: inline;
	height: 100%;
	width: 100%;
	margin-top: 20%;
	margin-left: 10%;
	float: inline-start;
	
}


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

/* Navbar container */
.navbar {
	font-family: 'Nunito Sans', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgb(255, 236, 221);
	padding: 10px 20px;
	background-color: rgba(223, 109, 43, 0.85); /* Apply some transparency */
	border-bottom: 1px solid black;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px); /* Apply a blur effect */
	
  }
  
  
  /* Branding/logo */
  .navbar-brand {
	font-size: 3vw;
	color: rgb(88, 60, 8);
	font-weight: 800;
  }
  
  /* Navigation menu */
  .navbar-menu {
	list-style: none;
	display: flex;
  }
  
  .navbar-item {
	margin-right: 20px;
	cursor: pointer;
	font-size: 1.5vw;
  }


  
  /* Change color on hover */
  .navbar-item:hover {
	color: #0c5a79;
  }

.main{
	height:100vh;
	background-color: #041322;
}
.history-main{
	height:100vh;
	background-color: #041322;
	padding-top: 30px;
}
  
.index-container {
    white-space: nowrap; /* Prevents line breaks between elements */
	width: 95%;
}

.index-text, .index-card {
    display: inline-block;
    margin-right: 10px; /* Add spacing between elements if needed */
}

.index-text{
	width: 40%;
}
.index-card{
	background: rgba(255, 255, 255, 0.185);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);

	width: 100%;
	height: 200px;
	margin-top: 50px;
}

.wallet{
	width: 20%;
	height: 85vh;
	box-shadow: 0px 4px 6px rgba(0.8, 0.8, 0.8, 0.8); 
	font-family: 'Nunito Sans', sans-serif;
	margin: 15px;
	background-color: rgba(236, 222, 214, 0.356);

	overflow-y: scroll;
    white-space: nowrap;
    overflow: scroll;
}


.dashboard {
    display: flex;
	
}

.wallet-head{
	font-size: 2vw;
	color: rgb(255, 145, 0);
	margin-bottom: 20px;
}

.wallet-stock-container{
	display: grid;
	place-items: center;
	width: 100%;
}

.wallet-stock{
	width: 90%;
	box-shadow: 0px 4px 6px rgba(0.8, 0.8, 0.8, 0.8); 
	background-color: #dddddd23;
	height: 70px;
	margin-bottom: 20px;
	color: rgb(191, 241, 10);
	font-weight: 800;
	cursor: pointer;
}
.wallet-stock-name{
	color: #fff;
	font-weight: 900;
}

.wallet-details{
	display: flex;
	justify-content: space-evenly;
	overflow: scroll;
	font-weight: 800;
	font-size: 0.8vw;
}

.wallet-stock-current{
	color: tomato;
}
.wallet-stock-bought {
   color: greenyellow;
}


.stock-container{
    display: flex;
    flex-wrap: wrap;

    max-width: 100%;

	
}

.stock{

	background-color: #dddddd81;
	margin: 10px;

	flex-basis: calc(30% ); /* Adjust this value as needed to add spacing */
    margin-bottom: 10px; /* Optional spacing between rows */

	height: 20vh;

	cursor: pointer;
	
}

.right{
	display: grid;
	width: 90%;
	overflow: scroll;
}

.stock-heading{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.5vw;
	color: rgb(26, 10, 1);
	font-weight: 800;
}

.stock-det{
	height: 100vh;
	background-color: #041322;
	color: white;
	font-family: 'Nunito Sans', sans-serif;
	padding-top: 20px;

}

.stock-card{
	background-color: #ad5624e3;
	padding-top: 10px;
	padding-bottom: 10px;

	box-shadow: 0 0px 20px -4px rgba(241, 241, 241, 0.315),
    0 2px 4px -1px rgba(255, 255, 255, 0.089);
	width: 50%;
}

.add-btn{
	background-color: #d37130;
	width: fit-content;
	padding: 5px;
	height: fit-content;
	margin: 5px;
	color: black;
	font-weight: 800;
	font-size: 1vw;
}

.transaction-box{
	display: grid;
	justify-content: center;
	background-color: #394858;
	height: 100vh;
}

.transaction-container {
	background: rgba(252, 250, 250, 0.185);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);

	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 800px;
	max-width: 100%;
	min-height: 500px;
	height: 50%;

	margin-top: 10vh;
}

.buysell{
	background-color: #d6623ee3;
	box-shadow: 0 0px 5px -4px rgba(241, 241, 241, 0.315),
    0 2px 4px -1px rgba(255, 255, 255, 0.089);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 0px 0px 0px 0px solid rgba(255, 255, 255, 0.3);
	width: 50%;
	padding-bottom: 10px
}


details {
	font-size: 1rem;
	margin: 7em auto;
	box-shadow: 0 20px 25px -5px rgba(255, 254, 254, 0.322),
		0 10px 10px -5px rgba(255, 255, 255, 0.274);
	width: 100%;
	background: #ce540e;
	border-radius: 8px;
	position: relative;
	font-weight: 800;
	width: 500px;

	.summary-title {
		user-select: none;
	}

	&:hover {
		cursor: pointer;
	}

	.summary-content {
		border-top: 1px solid #e2e8f0;
		cursor: default;
		padding: 1em;
		font-weight: 300;
		line-height: 1.5;
	}

	summary {
		list-style: none;
		padding: 1em;

		&:focus {
			outline: none;
		}

		&:hover .summary-chevron-up svg {
			opacity: 1;
		}
	}

	.summary-chevron-up svg {
		opacity: 0.5;
	}

	.summary-chevron-up,
	.summary-chevron-down {
		pointer-events: none;
		position: absolute;
		top: 0.75em;
		right: 1em;
		background: #ce540e;

		svg {
			display: block;
		}
	}

	summary::-webkit-details-marker {
		display: none;
	}
}


.textcontact{
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	font-family: 'Nunito Sans', sans-serif;
}

.contactsubmit{
	width: 50%;
	background-color: #0c5a79;
}

.font-style{
	font-family: 'Nunito Sans', sans-serif;
}

.contactbody{
	background-color: #041322;
	height: 100vh;
	padding-top: 50px;
}